body{
    position: absolute;
    /*noinspection CssInvalidPropertyValue*/
    height: -webkit-fill-available;
    /*noinspection CssInvalidPropertyValue*/
    width: -webkit-fill-available;
    margin: 0;
    font-family: sans-serif;
}

h1{
    padding: 10px;
    margin: 0;
    height: 30px;
    font-size: 2em;
}

#array{
    height: calc(100% - 90px);
    display: flex;
    align-items: center;
}

#menu{
    background: palevioletred;
}

#settings{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    height: 20px;
}

.element{
    display: flex;
    background: linear-gradient(0deg, #009e9e, #de0000);
    align-items: center;
    transition: height 0.3s;
    margin: 2px;
}

/* Dropdown Button */
.dropdown-btn {
    /*background-color: #04AA6D;*/
    /*color: white;*/
    /*padding: 10px;*/
    /*font-size: 16px;*/
    /*border: none;*/
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropdown-btn {background-color: #3e8e41;}