:root {
    --foreground: #9a9b99;
    --background: #f8f8f9;
    --header: #36343a;
    --color: #fff;
    --bar: #785c5c
}

body {
    background: var(--background);
    position: absolute;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

main {
    flex: 1;
}

h1 {
    padding: 0.5em;
    margin: 0;
    /* height: 30px; */
    font-size: 2em;
    background: black;
    background: var(--header);
}

#array {
    /*height: calc(100% - 90px);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
    height: 100%;
}

#menu {
    background: var(--foreground);
    color: var(--color);
}

#settings {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* height: 20px; */
    flex-wrap: wrap;
    gap: 1em;
    flex: 1
}

.element {
    /*display: flex;*/
    /*background: linear-gradient(0deg, #009e9e, #de0000);*/
    background: var(--bar);
    /*align-items: center;*/
    /*justify-content: space-between;*/
    /*transition: height 0.3s;*/
    margin: 1px;
    width: 100%;
}

.btn:hover{
background: #525252;
}

/* Dropdown Button */
.dropdown-btn {
    background-color: var(--header);
    color: white;
    /*padding: 10px;*/
    /*font-size: 16px;*/
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
    font-size: 1em;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
/*.dropdown-content {*/
/*    display: none;*/
/*    position: absolute;*/
/*    background-color: #f1f1f1;*/
/*    min-width: 160px;*/
/*    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);*/
/*    z-index: 1;*/
/*}*/

/* Links inside the dropdown */
/*.dropdown-content a {*/
/*    color: black;*/
/*    padding: 12px 16px;*/
/*    text-decoration: none;*/
/*    display: block;*/
/*}*/

/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {*/
/*    background-color: #ddd;*/
/*}*/

/* Show the dropdown menu on hover */
/*.dropdown:hover .dropdown-content {*/
/*    display: block;*/
/*}*/

/* Change the background color of the dropdown button when the dropdown content is shown */

.size {
    display: flex;
    align-items: center;
    gap: 1em;
}

button {
    background: var(--header);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1em;
    color: white;
}

/*footer{*/
/*    background: var(--foreground);*/
/*    color: var(--color);*/
/*    text-align: center;*/
/*}*/

/*footer p{*/
/*    margin: 0.5em;*/
/*}*/