:root {
    --foreground:#4e4e4e;
    --background: #f8f8f9;
    --header: #323232;
    --color: #fff;
    --bar: #4e4e4e
}

body {
    background: var(--background);
    position: absolute;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
}

main {
    flex: 1;
}

h1 {
    padding: 0.5em;
    margin: 0;
    /* height: 30px; */
    font-size: 2em;
    background: black;
    background: var(--header);
}

/**{*/
/*transition: all 0.25s;*/
/*}*/

#array {
    /*height: calc(100% - 90px);*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1px;
    height: 100%;
}

#menu {
    background: var(--foreground);
    color: var(--color);
}

#settings {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    /* height: 20px; */
    flex-wrap: wrap;
    gap: 1em;
    flex: 1
}

.element {
    /*display: flex;*/
    /*background: linear-gradient(0deg, #009e9e, #de0000);*/
    background: var(--bar);
    /*align-items: center;*/
    /*justify-content: space-between;*/
    /*transition: height 0.3s;*/
    margin: 1px;
    width: 100%;
}

.btn:hover{
filter: brightness(0.9);
}

/* Dropdown Button */
.dropdown-btn {
    background-color: var(--header);
    color: white;
    /*padding: 10px;*/
    /*font-size: 16px;*/
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
    font-size: 1em;
}

.dropdown {
    position: relative;
    display: inline-block;
}



.size {
    display: flex;
    align-items: center;
    gap: 1em;
}

button {
    background: var(--header);
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 1em;
    color: white;
}

/*footer{*/
/*    background: var(--foreground);*/
/*    color: var(--color);*/
/*    text-align: center;*/
/*}*/

/*footer p{*/
/*    margin: 0.5em;*/
/*}*/